body {
text-align: center;
font: normal 11px/18px verdana, arial, tahoma, sans-serif;
background-image: url("images/gray.jpg");
background-repeat: repeat;
}

p {
text-align: center;
font-family: 'Rosario', sans-serif;
font-size: 16px;
color: #88447B;
margin-top:5px;

}

h3 {
text-align: center;
font-family: 'Rosario', sans-serif;
font-size: 16px;
color: #535554;
margin-bottom:0px;
}

h2 {
text-align: center;
font-family: 'Rosario', sans-serif;
line-height:39px;
font-size: 39px;
color: #88447B;
margin-top:35px;
margin-bottom:0px;
text-shadow: 0px 1px 0px #e5e5ee;
}
